/*Responsive Css*/
.phone-slide {
    display: none !important;
}
@media only screen and (min-width : 320px) and (max-width : 480px){
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .desktop-slide{
        display: none !important;
    }
    .phone-slide {
        display: block !important;
    }
    .item{
        width: 160px !important;
    }

}
@media only screen and (min-width : 1002px){
    .nav-item-hidden{
        display: none;
    }

}
@media only screen and (max-width : 900px){
    .carousel-inner{
        height: auto;
    }

    .offcanvas-header{
        display: block;
      }
    
    .navbar-collapse{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #000;
        transition: all 5s ease-in-out;
        align-items: center;
    }
    
    .navbar-collapse.show{
        visibility: visible;
        transform: translateX(-100%);
        width: 50%;
        align-items: center;
    }

    .btn-close{
        background-color: transparent;
        border-color: transparent;
        color: #fff;
        font-size: 22px;
    }

    .navbar-light .nav-link .navbar-nav a{
        text-align: center;
        margin-bottom: 10px;
    }

}