/*Responsive Css*/
.phone-slide {
    display: none !important;
}

.nav-item-hidden{
    display: none;
}
@media only screen and (min-width : 320px) and (max-width : 480px){
    .carousel-control-prev, .carousel-control-next{
        display: none;
    }
    .desktop-slide{
        display: none !important;
    }
    .phone-slide {
        display: block !important;
    }
    .item{
        width: 160px !important;
    }
    #top-bar{
        display: none;
    }
}
@media only screen and (min-width : 280px) and (max-width : 480px){

    .navbar-item-hidden{
        display: none;
    }
    .navbar-brand{
        margin: 0px 0px 0px 0px;
    }
    .navbar-brand img{
        width: 50px;
    }


}
@media only screen and (max-width : 900px){
    .carousel-inner{
        height: auto;
    }

    .offcanvas-header{
        display: block;
      }
    
      .nav-item-hidden{
        display: block;
    }

    .navbar-collapse{
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #000;
        transition: all 0.2s ease-in-out;
        align-items: center;
        
    }

    .navbar-nav .nav-item a{
        color: rgb(255, 255, 255) !important;
    }
    
    .navbar-collapse.show{
        visibility: visible;
        transform: translateX(-100%);
        width: 100%;
        align-items: center;
    }

    .btn-close{
        background-color: transparent;
        border-color: transparent;
        color: #fff;
        font-size: 22px;
        padding-top: 1.2rem;
    }

    .navbar-nav .active{
        padding-top: 4rem !important;
    }
    .navbar-nav .nav-item .btn{
        margin-top: 1rem;
        width: 100%;
    }


}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

@media only screen and (max-width: 479px) {
	.product-short .nice-select {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 767px) {
	.product-short .nice-select {
		width: 180px;
	}
}