@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,300;1,500&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* Sass Template*/
/*global Classes*/
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-product {
  background-color: black;
  color: aliceblue;
}

.btn-product:hover {
  color: white;
  background-color: rgba(17, 17, 17, 0.856);
}

.qty_input {
  width: 65%;
}

.qty_input_cart {
  width: 55%;
}

.qty_up, .qty_down {
  color: black;
}

.border-2 {
  border-width: 2px !important;
  width: 100% !important;
}

.btn-width {
  width: 100% !important;
}

.show_color {
  fill: red;
  stroke: none;
}

.no_color {
  fill: none;
  stroke: currentColor;
}

.old-price {
  text-decoration: line-through;
}

.product-short {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.product-short > p {
  font-size: 14px;
  margin: 5px 10px 0 0;
}

.product-short .nice-select {
  border-radius: 0;
  color: #242424;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 320px;
  z-index: 999;
}

.product-short .nice-select .list {
  border-radius: 0px;
  width: 100%;
  z-index: 99;
}

.product-short .nice-select .option {
  line-height: 30px;
  min-height: 30px;
}

.hidden {
  display: none;
}

/*typography class*/
.font-roboto {
  font-family: "Roboto", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-inter {
  font-family: "Inter", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-40 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*Coor Template*/
.color-primary {
  color: #212529;
}

.color-primary-bg {
  background: #212529;
}

.color-second {
  color: #c2c2ca;
}

.color-second-bg {
  background: #c2c2ca;
}

/*Top sale Template*/
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #212529;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}

/*Special-price TEmplate*/
#special-price .grid .grid-item {
  margin-top: 1.5rem;
  margin-right: 1rem;
}

/*New Clothes Templates */
#new-clothes .owl-carousel .item .product a {
  overflow: hidden;
}
#new-clothes .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#new-clothes .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#new-clothes .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#new-clothes .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#new-clothes .owl-carousel .owl-nav button.owl-prev span,
#new-clothes .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #212529;
  padding: 0 1rem;
}
#new-clothes .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#new-clothes .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}
#new-clothes .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}

/* Nav Bar Template*/
.navbar-nav .nav-item a {
  color: black !important;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1 {
  font-size: 22px;
}

.offcanvas-header {
  display: none;
}

.main-search-input {
  background: #fff;
  border-radius: 1px;
  margin-top: 200px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.main-search-input:before {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 50px;
  height: 1px;
  background: rgba(255, 255, 255, 0.41);
  left: 50%;
  margin-left: -25px;
}

.main-search-input-item input {
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.main-search-button {
  background: #4DB7FE;
}

.main-search-button {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 120px;
  color: #fff;
  top: 0;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.main-search-input-wrap {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
}

:focus {
  outline: 0;
}

.btn-cart,
.btn-wishlist {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  border: none;
  outline: none;
  border-radius: 50%;
}

.btn-cart:hover,
.btn-wishlist:hover {
  cursor: pointer;
}

.btn-cart:active,
.btn-wishlist:active {
  background: #cccccc;
}

.btn-cart__badge,
.btn-wishlist__badge {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #0e8ce4;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.rounded {
  border-radius: 1.3rem !important;
}

/*Cart Template*/
.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: #414141;
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 1.2rem;
  cursor: pointer;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.btn-checkout {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn-item:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: #853a3a;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.btn-item:hover {
  color: #b84a4a;
}

.btn-item:focus {
  color: #b84a4a;
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

/* Pagination Templates*/
.li-pagination-area {
  border-top: 1px solid #414040;
}

.li-pagination-area .li-pagination-box li {
  display: inline-block;
}

.li-pagination-area .li-pagination-box li a {
  color: #242424;
  padding: 10px;
}

.li-pagination-area .li-pagination-box li.active a {
  color: #fed700;
}

.li-pagination-area .li-pagination-box li a:hover {
  color: #fed700;
}

.pagination-area {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  margin: 40px 0 0 !important;
  padding: 9px !important;
}

.pagination-area p {
  margin: 0;
}

.pagination-box {
  text-align: right;
}

.pagination-box > li {
  display: inline-block;
}

.pagination-box > li.active a {
  color: #fed700;
}

.pagination-box > li a {
  color: #333333;
  display: block;
  padding: 0 10px !important;
}

.pagination-box > li a:hover {
  color: #fed700;
}

/*Track Order*/
.track-order {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-header:first-child {
  border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px;
}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}

.track .step.active:before {
  background: #FF5722;
}

.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px;
}

.track .step.active .icon {
  background: #ee5435;
  color: #fff;
}

.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd;
}

.track .step.active .text {
  font-weight: 400;
  color: #000;
}

.track .text {
  display: block;
  margin-top: 7px;
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.img-sm {
  width: 80px;
  height: 80px;
  padding: 7px;
}

ul.row,
ul.row-sm {
  list-style: none;
  padding: 0;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529;
}

.card-signin {
  border: 0;
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 0rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
}

.form-label-group > input,
.form-label-group > label {
  padding: 0.75rem 1.5rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-control:focus {
  box-shadow: 10px 0px 0px 0px #ffffff !important;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/*# sourceMappingURL=style.css.map */
