/*global Classes*/

button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-product {
    background-color: black;
    color: aliceblue;
}

.btn-product:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(17, 17, 17, 0.856);
}

.qty_input{
    width: 65%;
}
.qty_input_cart{
    width: 55%;
}

.qty_up, .qty_down{
    color: black;
}

.border-2 {
    border-width:2px !important;
    width: 100% !important;
}

.btn-width{
    width: 100% !important;
}

.show_color{
    fill: red;
    stroke: none;
}
.no_color{
    fill: none;
    stroke: currentColor;
}

.old-price{
    text-decoration: line-through;
}

.product-short {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
.product-short > p {
    font-size: 14px;
    margin: 5px 10px 0 0;
  }
.product-short .nice-select {
      border-radius: 0;
      color: #242424;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      width: 320px;
      z-index: 999;
  }

.product-short .nice-select .list {
    border-radius: 0px;
    width: 100%;
    z-index: 99;
  }

.product-short  .nice-select .option {
    line-height: 30px;
    min-height: 30px;
  }
  
