/*Nav Bar Template*/
.navbar{
    position: absolute;
    background: transparent !important;
    width: 100%;
    z-index: 10;
    border-bottom: 1px $color-second;
}

.navbar-nav .nav-item a{
    color: rgb(0, 0, 0) !important;
}

.carousel-control-prev-icon1,
.carousel-control-next-icon1{
    font-size: 22px;
}

.offcanvas-header{
    display: none;
}