/*typography class*/

.font-roboto {
    font-family: $font-roboto;
}

.font-rale {
    font-family: $font-raleway;
}

.font-rubik {
    font-family: $font-rubik;
}
.font-inter {
    font-family: $font-inter;
}


.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-50{
    font-size: 50px;
}

.font-size-40{
    font-size: 40px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}